body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #444;
}
* {
    box-sizing: border-box;
}
.content {
    margin: 0 auto;
    padding: 20px 0px 300px 0px;
}
.content h2 {
    color: black;
    font-weight: 500;
    line-height: 1;
    margin-bottom: .66em;
    margin-top: 0;
    font-size: 1.2em;
}

.content .alert-info {
    margin-bottom: 10px;
    background: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
}
.example {
    border-bottom: 1px solid #ccc;
    padding: 15px 0px 15px 0px;
}
.example .button-success {
    background: #27ae60;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.example:last-child {
    border: none;
}
.example .info {
    font-size: .95em;
    margin: 15px 0;
    color: #666;
}
.example .result {
    color: #666;
    padding-bottom: 10px;
    font-size: 1em;
}
.footer {
    background-color: #fafafa;
    color: #999;
    padding: 30px 0;
    text-align: center;
}
.header {
    background: #27ae60;
    color: white;
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 20px;
}
.navigation {
    background: #fafafa;
    text-align: center;
    height: 50px;
    padding: 10px;
}
.navigation .details {
    text-decoration: none;
    float: left;
    padding-top: 5px;
    margin-right: 15px;
}
.navigation .button {
    float: right;
}
.header p {
    color: #ecf0f1;
    font-size: 14pt;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 0 20px;
}
.container a {
    color: #4183c4;
    text-decoration: none;
}
.container a:visited {
    color: #4183c4;
}
